@CHARSET "UTF-8";
.dn {
	display: none;
}

.widget-header {
	cursor: move;
}
.ui-icon-minusthick, .ui-icon-plusthick {
	cursor: pointer;
}
.monitis.homecolumn .widget-content {
	position: relative;
}
.monitisLoader {
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.monitisOverlay {
	background-color: #FFF;;
	opacity: 0.9;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.monitisNoData {
	display: none;
	position: absolute;
	left: 0px;
	top: 40%;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: #CCC;
	z-index: 9;
}

.monitisDatatable td, .monitisDatatable th {
	padding: 6px;
}
.monitisDatatable td {
	border-bottom: 1px solid #e2e2e2 !important;
	border-collapse: collapse;
	border-spacing: 0;
}
.monitisDatatable th {
	padding-bottom: 3px;
	border-bottom: 1px solid #DDD !important;
}

.monitisDatatable tr:not(:first-child):hover {
	background-color: #F3F3F3;
}

.mGrit {
	width: 100%;
	color: #999;
	text-align: center;
	padding-top: 15px;
}

.notification_x {
	float: right;
	cursor: pointer;
	color: #999;
}
.notification_x:hover {
	color: #000; 
}
.monitisMultiselectDialog {
	
}

div.monitisFormError {
	color: #d55a45;
	padding-left: 3px;
}
input.monitisFormError {
	color: #d55a45;
}
.dialogTitle {
	text-align:left;
	padding: 5px 0px;
}
.fieldlabel {
	font-weight:bold;
}

.section_block {
	border: 1px solid #ccc; 
	padding: 20px 5px; 
	margin: 2px; 
	text-align: left;
}
